body {
  text-align: center;
  /* background-image: url(/home/hodamansour/Lotus/week-8/OnlineTestClasses/assets/regestSignUp.jpeg); */
  background-repeat: no-repeat;
    background-origin: fixed;
    background-size: cover;
    color: #00264d;
  }
