<h1>Choose your class</h1>
<section>
  <form class="" action="./seventhGrade" method="post">
    <button type="submit">7th grade</button>
  </form>
  <form class="" action="./eightGrade" method="post">
    <button type="submit">8th grade</button>
  </form>
  <form class="" action="./ninethGrade" method="post">
    <button type="submit">9th grade</button>
  </form>
  {{>logOut}}

</section>
