<h1>Choose your class</h1>
<section>
  <form class="" action="./seventhGrade" method="post">
    <button type="button">7th grade</button>
  </form>
  <form class="" action="./eightGrade" method="post">
    <button type="button">8th grade</button>
  </form>
  <form class="" action="./ninethGrade" method="post">
    <button type="button">9th grade</button>
  </form>
</section>
