<h1>8th grade</h1>
<h6>Hebrew:</h6> <br>
<p> <a href="http://meyda.education.gov.il/files/Rama/198-EVR-019-8-SOF-text.pdf">Test 1</a></p> <br>
<p><a href="http://meyda.education.gov.il/files/Rama/31-EVR-019-8B-SOF-net.pdf">Test 2</a></p> <br>
<h6>English:</h6>
<p> <a href="https://www.gamelishcards.com/wp-content/uploads/2018/09/imagine.pdf">Test 1</a> </p> <br>
<h6>Arabic:</h6>
<p> <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=cmQudHphZm9uZXQub3JnLmlsfGhpbmR8Z3g6NjRhYzYxMWI3MjU1MjRjNA">Test 1</a> </p>
<p> <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=cmQudHphZm9uZXQub3JnLmlsfGhpbmR8Z3g6NGQwYjJjZThiYTg0NTg4OQ">Test 2</a> </p>
