    <h3>WELCOME.....ONLINETEST</h3>
    <div>
      <p>
        This is a website that will help you succeed in your exams,<br> We have
        created classes with its own subjects,<br> And you will have two exams as
        practice <i class="em em-memo"></i>
      </p>
      <h2> GOOD LUCK
        <i class="em em-heavy_heart_exclamation_mark_ornament"></i>
    </h2>
    </div>
    <section>
      <label class="fullName" for="uname">Full name</label><br>
      <input class="fnInput" type="text" placeholder="Enter your name" name="uname" required/><br>
      <label class="pass" for="psw">Password</label><br>
      <input class="passInput" type="password" placeholder="Enter Password" name="psw" required/><br>
      <form action="./class" method="post">
        <button class="logIn" type="submit">Login</button>
      </form>
      <form action="./register" method="post">
        <button class="signUp" type="submit">Sign Up</button>
      </form>
    </section>
    <script type="text/javascript"></script>
