    <h1>WELCOME</h1>
    <div>
      <p>
        This is a website that will help you succeed in your exams, we have
        created classes with its own subjects, and you will have two exams as
        practice <i class="em em-memo"></i>
      </p>
      <h2> GOOD LUCK
      <i class="em em-heavy_heart_exclamation_mark_ornament"></i> </h2>
    </div>
    <section>
      <label id="sname"><b>Student</b></label><br>
      <input type="text" placeholder="Enter Your Full name" required/> <br>
      <label id="password">Password</label><br>
      <input type="password" placeholder="Enter Password" name="psw" required/>
      <form class="" action="./class" method="post">
        <button type="submit">Login</button>
      </form>
      <form class="" action="./register" method="post">
        <button type="submit">Sign Up</button>
      </form>
    </section>
    <script type="text/javascript"></script>
