{{>header}}

<h1>9th grade</h1>
<h6>Hebrew:</h6> <br>
<p> <a href="http://meyda.education.gov.il/files/Mazkirut_Pedagogit/Ivrit/internet.pdf">Test 1</a></p> <br>
<p><a href="http://meyda.education.gov.il/files/Mazkirut_Pedagogit/Ivrit/nargila.pdf">Test 2</a></p> <br>
<h6>English:</h6> <br>
<p> <a href="https://www.gamelishcards.com/wp-content/uploads/2018/09/imagine.pdf">Test 1</a> </p> <br>
<h6>Arabic:</h6> <br>
<p> <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZWR1LWhhaWZhLm9yZy5pbHxpbXRpN2FufGd4OjJiZTQ5OWY5Zjc5OTQ0ZmE">Test 1</a> </p> <br>
<p> <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZWR1LWhhaWZhLm9yZy5pbHxpbXRpN2FufGd4OjQ2YjhmMzA2ZTJlMjJmODU">Test 2</a> </p> <br>

{{>footer}}
