
<form id="registerForm">
    <h2>Sign Up Form</h2>

    <p>Please fill in this form to create an account.</p>
    <label id="sname"><b>Student</b></label><br>
    <input type="text" placeholder="Enter Your Full name" /><br>

    <label id="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Your Email" name="email" /><br
    <label id="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" /><br>
    <label id="confirmPassword"><b>Confirm Your Password</b></label><br>
    <input
      type="password"
      placeholder="Confirm Your Password
      name="psw-repeat"
    /><br>
    <button type="submit">Sing Up</button>
</form>
