<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="../public/regester.css" />
  <body>
    <h2>Sign Up Form</h2>

    <p>Please fill in this form to create an account.</p>
    <label for="sname"><b>Student</b></label><br>
    <input type="text" placeholder="Enter Your Full name" required /><br>

    <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Your Email" name="email" required /><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required /><br>
    <label for="psw-repeat"><b>Repeat Password</b></label><br>
    <input
      type="password"
      placeholder="Repeat Password"
      name="psw-repeat"
      required
    /><br>
    <button type="submit">Sing Up</button>
  </body>
</html>
