
<form id="registerForm">
    <h2>Sign Up Form</h2>

    <p>Please fill in this form to create an account.</p>
    <label id="sname"><b>Student</b></label><br>
    <input type="text" placeholder="Enter Your Full name" name="student" required/><br>

    <label id="email"><b>Email</b></label><br>
    <input type="text" placeholder="example@example.com" name="email" required/><br
    <label id="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="password" required/><br>
    <label id="confirmPassword"><b>Confirm Your Password</b></label><br>
    <input type="password" placeholder="Confirm Your Password" name="confirmpassword" required/><br>
      <form class="" action="./home" method="post">
        <button type="submit">Sign Up</button>
      </form>
</form>
