  <form id="registerForm" class="">
    <h2>Sign Up Form</h2>

    <p>Please fill in this form to create an account.</p>
      <label><b>Student</b></label><br>
      <input id="sname" type="text" placeholder="Enter Your Full name" name="student" required/><br>

      <label><b>Email</b></label><br>
      <input id="email" type="email" placeholder="example@example.com" name="email" required/><br>
      <label><b>Password</b></label><br>
      <input id="password" type="password" placeholder="Enter Password" name="password" required/><br>
      <label><b>Confirm Your Password</b></label><br>
      <input id="confirmPassword" type="password" placeholder="Confirm Your Password" name="confirmpassword" required/><br>
      <button id="submitButton">Sign Up</button>
    </form>
