<h1>7th grade</h1>
<h4>Hebrew:</h4>
<p> <a href="https://docs.wixstatic.com/ugd/12f261_3bd7b49597494ce88a7f99e5d0ab7d01.pdf">Test 1</a></p>
<p><a href="http://meyda.education.gov.il/files/Mazkirut_Pedagogit/Ivrit/ben_yehuda.PDF">Test 2</a></p>
<br>
<h4>English:</h4>
<p> <a href="https://www.gamelishcards.com/wp-content/uploads/2018/10/way-to-go-web.pdf">Test 1</a> </p>
<br>
<h4>Arabic:</h4>
<p> <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZWR1LWhhaWZhLm9yZy5pbHxpbXRpN2FufGd4Ojc5ZWQwOTM4Yjk1MDQ2NDc">Test 1</a> </p>
<p> <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZWR1LWhhaWZhLm9yZy5pbHxpbXRpN2FufGd4OjQxZGE1YTA2ZDU5NzBhYjk">Test 2</a> </p> 
